<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GitPub App</title>
</head>
<body>
  <h1>Welcome to GitPub</h1>

  <ul style="text-transform: capitalize;">
    <% for(let i = 0; i < allFoods.length; i++) { %>
        <li><a href="/foods/<%= i %>">
          <%= allFoods[i].name %></a></li>        
    <% } %>
  </ul>

  <a href="/drinks">Drinks</a>

  <style>
    body {
      background-color: cornflowerblue;
      color: indianred;
    }
  </style>
</body>
</html>